/**
!/*.md
!/.gitignore

!/open-boundary/
/open-boundary/**
!open-boundary/Makefile
!open-boundary/*.cpp
!open-boundary/*.h
!open-boundary/*.sh
!open-boundary/*.md
!open-boundary/script.js
!open-boundary/style.css
!open-boundary/csv/*

!/periodic-boundary/
/periodic-boundary/**
!periodic-boundary/Makefile
!periodic-boundary/*.cpp
!periodic-boundary/*.h
!periodic-boundary/*.sh
!periodic-boundary/*.md
!periodic-boundary/script.js
!periodic-boundary/style.css
